/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body{
  line-height: 1.5;
}
a{
  text-decoration: none;
}
/* Container */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}
/* Flex */
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-48{
  flex: 0 1 48%;
}
.flex-30{
  flex: 0 1 30%;
}
/* Header */
.header{
  background-color: rgb(34,41,70);
  padding: 1rem 0;
}
.navbar a{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  margin-right: 2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.navbar-item a:hover{
  color: rgb(84,182,103);
}
.navbar .blog{
  color: rgb(84,182,103);
}

.full-width{
  width: 100%;  
}
h1{
  font-size: 2.5rem;
  font-weight: 700;
}
p{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: rgb(149,151,156);
}
.btn{
  background-color: rgb(84,182,103);
  padding: 15px 30px;
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}
.article{
  background-color: rgb(233,236,252);
  padding: 2rem 0;
}
h2{
  font-size: 2.5em;
  text-align: center;
  padding: 2rem;
}
.blog img{
  max-height: 210px;
  object-fit: cover;
}
h3{
  font-size: 1.8em;
}
.para{
  font-size: 1em;
}
.sec{
  padding: 5px 15px;
}
.footer{
  background-color: rgb(34,41,70);
  padding: 2rem;
  margin-top: 4rem;
  color: rgb(149,151,156);
}
.navicon a{
  color: rgb(149,151,156);
  font-size: 2em;
  margin-right: 1.5rem;
}
small{
  font-size: 1.5em;
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  html{
    font-size: 10px;
  }
  .flex{
    flex-wrap: wrap;
  }
  .flex-30, .flex-48{
    flex: 1 1 100%;
    margin: 2rem 0;
  }
  .column{
    flex-direction: column;
  }
  .order-1{
    order: 1;
  }
  .header{
    padding: 2rem 0;
  }
  .navbar{
    margin-top: 2rem;
  }
  .navicon{
    margin-top: 10px;
    margin-left: 20px;
  }
}
